h1{
    font-size: 60px;
    font-family: sans-serif;
    margin-left: 300px;
    width: auto;
    display: inline;
}
body{

    font-size: 22px;
}
li{
    list-style: none;
}
header{
    width: 100%;
    height: 200px;
    background-color: antiquewhite;
    position: relative;
}
.head__form{
    padding: 50px 0 0 20px;
    height: 80px;
    width: 500px;
    margin: 20px 500px 0 0;
    float: right;
    background: #f0f0f0;
    border: 1px solid magenta;
}
.form__input-text{
    width: 350px;
}
.main__content{
    height: 300px;
    background-color: #f0f0f0;
}
.results{
    width: 100%;
    height: 150px;
    background-color: aquamarine;
}
.amount{
    vertical-align: middle;
    cursor: pointer;
}
.counter{
    width: 25px;
    height: 25px;
}
.check{
    width: 25px;
    height: 25px;
}
.todo_text{
    cursor: pointer;
}
.completed{
    text-decoration: line-through;
}
.edit_text{
    width: 250px;
    vertical-align: super;
}
.text_edited{
    vertical-align: super;
}
.page-number{
    display: inline-block;
    cursor: pointer;
    margin-left: 15px;
}
.active{
    color: blueviolet;
}
.delete{
    margin-top: 4px;
    float: right;
}
.todo_task{
    width: 400px;
}
.current-tasks{
    border: solid 1px darkred;
}